In [3]:
import pandas as pd

In [ ]:
#QUESTION 1

In [4]:
employee_data = {
    'Employee ID': [101, 102, 103, 104, 105],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, 30, 35, 40, 45],
    'Department': ['HR', 'Engineering', 'Marketing', 'Finance', 'Sales'],
    'Salary': [50000, 60000, 55000, 58000, 62000]
}

In [9]:
df = pd.DataFrame(employee_data)

In [10]:
print("First 5 records:")
print(df.head())

First 5 records:
   Employee ID     Name  Age   Department  Salary
0          101    Alice   25           HR   50000
1          102      Bob   30  Engineering   60000
2          103  Charlie   35    Marketing   55000
3          104    David   40      Finance   58000
4          105      Eve   45        Sales   62000

In [11]:
print("Basic dataset information:")
print(df.info())

Basic dataset information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Employee ID  5 non-null      int64
 1   Name         5 non-null      object
 2   Age          5 non-null      int64
 3   Department   5 non-null      object
 4   Salary       5 non-null      int64
dtypes: int64(3), object(2)
memory usage: 332.0+ bytes
None

In [12]:
print("Summary statistics:")
print(df.describe())

Summary statistics:
       Employee ID        Age       Salary
count     5.000000   5.000000      5.00000
mean    103.000000  35.000000  57000.00000
std       1.581139   7.905694   4690.41576
min     101.000000  25.000000  50000.00000
25%     102.000000  30.000000  55000.00000
50%     103.000000  35.000000  58000.00000
75%     104.000000  40.000000  60000.00000
max     105.000000  45.000000  62000.00000

In [ ]:
#QUESTION 2

In [13]:
file_path = "sample_data.csv"  # Update this with the actual file path
df = pd.read_csv(r"C:\Users\MD ZAFAR\Downloads\customers.csv")

In [14]:
missing_values = df.isnull().sum()
print("Missing values in each column:")
print(missing_values)

Missing values in each column:
CustomerID    0
Name          0
Age           0
Location      0
TotalSpent    0
dtype: int64

In [15]:
unique_values = df.nunique()
print("Number of unique values in each column:")
print(unique_values)

Number of unique values in each column:
CustomerID    5
Name          5
Age           5
Location      5
TotalSpent    4
dtype: int64

In [16]:
cleaned_file_path = "cleaned_data.csv"
df.to_csv(cleaned_file_path, index=False)
print("Cleaned data saved to",cleaned_file_path)

Cleaned data saved to cleaned_data.csv